body {
    color: rgb(168, 69, 107);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    text-align: left;
    text-align: center;
}

.body {
    margin: 10px auto;
    width: 70%;
    clear: both;
    background-color: rgb(7, 7, 26);
}

h1 {
    background-color: rgb(20, 15, 36);
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(168, 69, 107);
}
a:hover, a:active {
    color: #f8a4df;
}


.mainContent {
    background-color: #f3bde3;
    margin: 20px auto;
    width: 100%;
    height: 500px;
}


.mainHeader nav {
    background-color: #202441;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.mainHeader nav ul {
    text-align: center;
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    display: inline;
}


.mainHeader a:link, .mainHeader a:visited {
    color: rgb(168, 69, 107);
    padding: 10px 40px;
    display: inline-block;
    height: 20px;
}

.mainHeader a:hover, .mainHeader a:active {
    color: #f8a4df;
    background-color: #33395f;
    text-shadow: none;
}




.buttomBar {
    font-size: 25px;
}

.case {
    margin: 0 10px;
}

.case a:link, .post a:visited {
    color: rgb(168, 69, 107);
    display: inline-block;
}

.case a:hover, .post a:active {
    color: #f8a4df;
    text-shadow: none;
}


.footer {
    color: #f8a4df;
    text-align: center;
}